@{
    ViewData["Title"] = "About Me";
}

<div class="container">
  <div class="colums align-items-start">
    <div class="col">
        <div style="display:flex; justify-content:center; ">
            <div class="ProfilePic"></div>
        </div>
        <div class="text-center">
            <h1 style="margin-bottom:0px;" class="display-4">Alex Abrahamsson</h1>
            <h2 class="display-6">Full stack developer</h2>
        </div>
        <div class="row align-items-center">
            <div class="col-3"></div>
            <div class="col-1">
                <div><i class="fas fa-phone" style="font-size:20px; margin-bottom: 8px;"></i></div>
                <div><i class="fas fa-at" style="font-size:20px; margin-bottom: 8px;"></i></div>
                <div><i class="fas fa-globe" style="font-size:20px; margin-bottom: 8px;"></i></div>
                <div><i class="fas fa-address-card" style="font-size:20px;"></i></div>
            </div>
            <div class="col-4">
                <div><p>072-3097294</p></div>
                <div><p>alex.abrahamsson@gmail.com</p></div>
                <div><p>www.alexabrahamsson.com</p></div>
                <div><p>Nedrevägen 54, Årsunda</p></div>
            </div>
            <div class="col-4"></div>
        </div>


        <div>
            <div class="row aling-item-center">
                <div class="col-3"></div>
                <div class="col-6">
                    <h1 style="margin-bottom:0px; margin-top:10px;" class="display-7">Profile</h1>
                    <p>Been working as welder in industrial workshop for 10 years now and it is at this point a little spark of
                        programming interest starts to grow.<br><br>
                        I have always been interested in playing games but here my interest started to shift towards
                        making games and the code behind them.
                    </p>
                </div>
                <div class="col-3"></div>

            </div>
        </div>
    </div>
  </div>
</div>