@{
    ViewData["Title"] = "Education";
}

<div class="Container">
   <div class="colums align-items-center">
    <div class="col">
        <div class="text-center">
            <h1 class="display-4">Educations</h1>
        </div>
        <div class="row aling-item-center">
            <div class="col-2"></div>
            <div class="col-8">
                <h3>2019 - 2022</h3>
                <ul>
                    <li>Full stack .Net developer, Yrkeshögskolan</li>
                </ul>
                <h3>2018 - 2019</h3>
                <ul>
                    <li>C# Programming, Hermods</li>
                </ul>
                <h3>1999 - 2001</h3>
                <ul>
                    <li>Teknik Process Produktion, Polhem</li>
                </ul>
            </div>
            <div class="col-2"></div>
        </div>
    </div>
  </div>
</div>

