@{
    ViewData["Title"] = "Experiences";
}

<div class="Container">
    <div class="colums align-items-center">
        <div class="col">
            <div class="text-center">
                <h1 class="display-4">Experiences</h1>
            </div>
            <div class="row aling-item-center">
                <div class="col-2"></div>
                <div class="col-8">
                    <h3>2018 - Present</h3>
                    <ul>
                        <li>Indy game development</li>
                        <li>Creating webpages</li>
                        <li>Working on my own applications</li>
                        <li>Yrkeshögskolan .Net Full stack developer</li>
                    </ul>
                    <h3>2008 - 2020</h3>
                    <ul>
                        <li>13 years as welder/blacksmith</li>
                    </ul>
                    <h3>2001 - 2008</h3>
                    <ul>
                        <li>Working at ICA and other service jobs</li>
                        <li>Docks worker at Gävle Stuveri AB, Mostly container boats</li>
                        <li>Firefighter at F4, military service</li>
                    </ul>
                </div>
                <div class="col-2"></div>
            </div>
        </div>
    </div>
</div>
