@{
    ViewData["Title"] = "Home Page";
}

<div class="container">
    <div class="row align-item-center">
        <div class="col">
            <h1 class="text-center">Welcome to Alex CV</h1>
            <div class="row-cols-auto" style="height:50vh; background-image:url(/Assets/Falsterbo.jpg);background-size:contain; background-repeat:no-repeat;"></div>
        </div>
    </div>
</div>